/* AddEntry Component Styles */
.add-entry {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-entry h2 {
    text-align: center;
    color: #2d3a4b;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  form div {
    margin: 15px 0;
  }
  
  label {
    font-weight: bold;
    color: #2d3a4b;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  button {
    background-color: #4caf50;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #388e3c;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  